<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="/static/style.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Homepage</title>
    </head>
    <body>
        <div class="grid-container">
            <div class="grid1">
                <b>NBA STATS</b>
                    <ul>
                        <li><a class="active" href="/">Homepage</a></li>
                        <li><a href="/loading">TOP 10 Regular Season 2018-19</a></li>
                        <li><a href="/loading2">Regular Season 2018-19 Stats</a></li>
                    </ul>
            </div>
            <div class="grid3">
                <p>Hey everyone! This site fetches multiple API packages when grabbing the stats. I am using the free subscriber model hence limiting the number
                    of API calls per second(one every second). Loading certain pages of the site can take a few seconds. Thank you for your patience!!</p>
                <img class="basketballImg" src="https://img.freepik.com/premium-vector/basketball-championship-sport-club-league-varsity-team-players-sign-ball-halftone_8071-3408.jpg?w=360">

            </div>
    </body>




