<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="/static/style.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Loading</title>
    </head>
    <body style="background-color:#2196F3;">
        <div>
            <p class="loading" id="load">Loading</p>
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/87df9c72162251.5bee3ee5854dc.gif" style="width:800px;height:700px;" class="center">
        </div>
    <script>
        var words = ['Loading .', 'Loading . . ', 'Loading . . .', 'Loading . . . .'];

        let displayIndex = 0;
        let load = document.getElementById('load');
        let delay = 500;

        setInterval(() => {
        if (load) {
            load.innerHTML = words[displayIndex];
        }

        displayIndex++;

        if (displayIndex >= words.length) {
            displayIndex = 0;
        }
        }, delay);

        window.location.replace('/regular_season');
    </script>
    </body>